# Домашнее задание 2

In [1]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
df_info_0 = pd.read_csv('Students_info_0.csv',
                sep=',',
                index_col=0)
df_info_1 = pd.read_csv('Students_info_1.csv',
                sep=',',
                index_col=0)
df_info_2 = pd.read_csv('Students_info_2.csv',
                sep=',',
                index_col=0)
df_info_3 = pd.read_csv('Students_info_3.csv',
                sep=',',
                index_col=0)
df_info_4 = pd.read_csv('Students_info_4.csv',
                sep=',',
                index_col=0)
df_info_5 = pd.read_csv('Students_info_5.csv',
                sep=',',
                index_col=0)
df_info_6 = pd.read_csv('Students_info_6.csv',
                sep=',',
                index_col=0)
df_info_7 = pd.read_csv('Students_info_7.csv',
                sep=',',
                index_col=0)
df_info_8 = pd.read_csv('Students_info_8.csv',
                sep=',',
                index_col=0)
df_info_9 = pd.read_csv('Students_info_9.csv',
                sep=',',
                index_col=0)
df_marks_0 = pd.read_csv('Students_marks_0.csv',
                        sep=',',
                        index_col=0)
df_marks_1 = pd.read_csv('Students_marks_1.csv',
                        sep=',',
                        index_col=0)
df_marks_2 = pd.read_csv('Students_marks_2.csv',
                        sep=',',
                        index_col=0)
df_marks_3 = pd.read_csv('Students_marks_3.csv',
                        sep=',',
                        index_col=0)
df_marks_4 = pd.read_csv('Students_marks_4.csv',
                        sep=',',
                        index_col=0)
df_marks_5 = pd.read_csv('Students_marks_5.csv',
                        sep=',',
                        index_col=0)
df_marks_6 = pd.read_csv('Students_marks_6.csv',
                        sep=',',
                        index_col=0)
df_marks_7 = pd.read_csv('Students_marks_7.csv',
                        sep=',',
                        index_col=0)
df_marks_8 = pd.read_csv('Students_marks_8.csv',
                        sep=',',
                        index_col=0)
df_marks_9 = pd.read_csv('Students_marks_9.csv',
                        sep=',',
                        index_col=0)

In [3]:
df1 = pd.merge(df_info_0, df_marks_0, on='index', how='outer')
df2 = pd.merge(df_info_1, df_marks_1, on='index', how='outer')
df3 = pd.merge(df_info_2, df_marks_2, on='index', how='outer')
df4 = pd.merge(df_info_3, df_marks_3, on='index', how='outer')
df5 = pd.merge(df_info_4, df_marks_4, on='index', how='outer')
df6 = pd.merge(df_info_5, df_marks_5, on='index', how='outer')
df7 = pd.merge(df_info_6, df_marks_6, on='index', how='outer')
df8 = pd.merge(df_info_7, df_marks_7, on='index', how='outer')
df9 = pd.merge(df_info_8, df_marks_8, on='index', how='outer')
df10 = pd.merge(df_info_9, df_marks_9, on='index', how='outer')

In [4]:
df1_0 = df1.iloc[:100]
df2_0 = df2.iloc[:199]
df3_0 = df3.iloc[:299]
df4_0 = df4.iloc[:399]
df5_0 = df5.iloc[:499]
df6_0 = df6.iloc[:599]
df7_0 = df7.iloc[:699]
df8_0 = df8.iloc[:799]
df9_0 = df9.iloc[:899]
df10_0 = df10.iloc[:999]
df = pd.concat([df1_0, df2_0, df3_0, df4_0, df5_0, df6_0, df7_0, df8_0, df9_0, df10_0])
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
df = df.reset_index(drop=True)
df[:10]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
df1 = df.describe().iloc[1:4]
df2 = df.describe().iloc[7:8]
pd.concat([df1, df2])

      math score  reading score  writing score
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
if True in df.isnull():
    print('Yes, there are missing values')
else:
    print('No, there are not missing values')

No, there are not missing values

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [9]:
mean_math = df['math score'].mean()
print('Mean math:', mean_math)

Mean math: 66.089

In [10]:
mean_reading = df['reading score'].mean()
print('Mean reading:', mean_reading)

Mean reading: 69.169

In [11]:
mean_writing = df['writing score'].mean()
print('Mean writing:', mean_writing)

Mean writing: 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [12]:
df['test preparation course (binary)'] = df['test preparation course'].map({'completed':1, 'none':-1})
df_completed = df.loc[df['test preparation course (binary)'] == 1]
df_none = df.loc[df['test preparation course (binary)'] == -1]

In [13]:
mean_math_completed = df_completed['math score'].mean()
print('The mean math score among people who took a preparation course:', mean_math_completed)

The mean math score among people who took a preparation course: 69.69553072625699

In [14]:
mean_reading_completed = df_completed['reading score'].mean()
print('The mean reading score among people who took a preparation course:', mean_reading_completed)

The mean reading score among people who took a preparation course: 73.89385474860335

In [15]:
mean_writing_completed = df_completed['writing score'].mean()
print('The mean writing score among people who took a preparation course:', mean_writing_completed)

The mean writing score among people who took a preparation course: 74.41899441340782

In [16]:
mean_math_none = df_none['math score'].mean()
print('The mean math score among people who did not take a preparation course:', mean_math_none)

The mean math score among people who did not take a preparation course: 64.0778816199377

In [17]:
mean_reading_none = df_none['reading score'].mean()
print('The mean reading score among people who did not take a preparation course:', mean_reading_none)

The mean reading score among people who did not take a preparation course: 66.53426791277259

In [18]:
mean_writing_none = df_none['writing score'].mean()
print('The mean writing score among people who did not take a preparation course:', mean_writing_none)

The mean writing score among people who did not take a preparation course: 64.50467289719626

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [19]:
print(df["lunch"].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [20]:
df_renamed = df.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'})
df_renamed.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,test preparation course (binary)
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,-1
1,female,group C,some college,standard,completed,group1,69,90,88,1
2,female,group B,master's degree,standard,none,group1,90,95,93,-1
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,-1
4,male,group C,some college,standard,none,group1,76,78,75,-1

**Зафиксируем минимальный балл для сдачи экзамена**

In [21]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [27]:
df_math_passed = df.loc[(df['math score']>=passmark)]
print('Proportion of students who passed the math exam:', (len(df_math_passed.axes[0]))/(len(df.axes[0])))

Proportion of students who passed the math exam: 0.865

In [23]:
df_math_completed_passed = df_completed.loc[(df['math score']>=passmark)]
print('Proportion of students who passed the math exam among those who completed the preparation course:', (len(df_math_completed_passed.axes[0]))/(len(df_completed.axes[0])))

Proportion of students who passed the math exam among those who completed the preparation course: 0.9217877094972067

In [24]:
df['gender (binary)'] = df['gender'].map({'female':1, 'male':-1})
df_gender = df.loc[df['gender (binary)'] == 1]

print('Proportion of women who were not prepared for the exam did not pass the math exam:', (len(df_gender.loc[df_gender['test preparation course (binary)'] == -1]))/(len(df.loc[df['gender (binary)'] == 1])))

Proportion of women who were not prepared for the exam did not pass the math exam: 0.6447876447876448

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [25]:
import time
t0= time.time()
df_race_reading = df_renamed.groupby('race/ethnicity')['reading score'].mean()
print("Time elapsed: ", time.time() - t0)
df_race_reading.reset_index()

Time elapsed:  0.007345914840698242

  race/ethnicity  reading score
0        group A      64.674157
1        group B      67.352632
2        group C      69.103448
3        group D      70.030534
4        group E      73.028571

In [26]:
t1= time.time()
df_education_writing = df_renamed.groupby('education')['writing score'].min()
print("Time elapsed: ", time.time() - t1)
df_education_writing.reset_index()

Time elapsed:  0.005320072174072266

            education  writing score
0  associate's degree             35
1   bachelor's degree             38
2         high school             15
3     master's degree             46
4        some college             19
5    some high school             10

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [27]:
t2 = time.time()
counter = {}
for i in range(len(df["race/ethnicity"])):
    counter[df["race/ethnicity"][i]] = counter.get(df["race/ethnicity"][i], [])
    counter[df["race/ethnicity"][i]].append(df["reading score"][i])
for i in counter:
    counter[i] = np.mean(counter[i])
df111 = pd.DataFrame(sorted(list(counter.items())), columns=["race/ethnicity", "reading score"])
t3 = time.time() - t2
df111

  race/ethnicity  reading score
0        group A      64.674157
1        group B      67.352632
2        group C      69.103448
3        group D      70.030534
4        group E      73.028571

In [28]:
print("Time elapsed: ", t3)

Time elapsed:  0.035368919372558594

In [29]:
t4 = time.time()
counter1 = {}
for i in range(len(df["parental level of education"])):
    if df["parental level of education"][i] in counter1:
        counter1[df["parental level of education"][i]].append(df["writing score"][i])
    else:
        counter1[df["parental level of education"][i]] = []
        counter1[df["parental level of education"][i]].append(df["writing score"][i])
for i in counter1:
    counter1[i] = min(counter1[i])
df112 = pd.DataFrame(sorted(list(counter1.items())), columns=["education", "writing score"])
t5 = time.time() - t4
df112

            education  writing score
0  associate's degree             35
1   bachelor's degree             38
2         high school             15
3     master's degree             46
4        some college             19
5    some high school             10

In [30]:
print("Time elapsed: ", t5)

Time elapsed:  0.025845050811767578

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [31]:
grouped = pd.pivot_table(df_renamed,index=['education'],columns=['gender'], values=['math score', 'reading score', 'writing score'], aggfunc=np.mean)
grouped

                   math score            reading score             \
gender                 female       male        female       male
education
associate's degree  65.250000  70.764151     74.120690  67.433962
bachelor's degree   68.349206  70.581818     77.285714  68.090909
high school         59.351064  64.705882     68.202128  61.480392
master's degree     66.500000  74.826087     76.805556  73.130435
some college        65.406780  69.009259     73.550847  64.990741
some high school    59.296703  67.840909     69.109890  64.693182

                   writing score
gender                    female       male
education
associate's degree     74.000000  65.405660
bachelor's degree      78.380952  67.654545
high school            66.691489  58.539216
master's degree        77.638889  72.608696
some college           74.050847  63.148148
some high school       68.285714  61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [32]:
df['Math_PassStatus'] = df['math score'].apply(np.min) < passmark
df['Math_PassStatus'] = df['Math_PassStatus'].map({False:'P', True:'F'})
df['Reading_PassStatus'] = df['reading score'].apply(np.min) < passmark
df['Reading_PassStatus'] = df['Reading_PassStatus'].map({False:'P', True:'F'})
df['Writing_PassStatus'] = df['writing score'].apply(np.min) < passmark
df['Writing_PassStatus'] = df['Writing_PassStatus'].map({False:'P', True:'F'})
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,test preparation course (binary),gender (binary),Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,-1,1,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,1,1,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,-1,1,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,-1,-1,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,-1,-1,P,P,P

In [33]:
print('Number of students who passed the math exam:',len(df.loc[(df['math score']>=passmark)]))
print('Number of students who did not pass the math exam:',len(df.loc[(df['math score']<passmark)]))
print('Number of students who passed the reading exam:',len(df.loc[(df['reading score']>=passmark)]))
print('Number of students who did not pass the reading exam:',len(df.loc[(df['reading score']<passmark)]))
print('Number of students who passed the writing exam:',len(df.loc[(df['writing score']>=passmark)]))
print('Number of students who did not pass the writing exam:',len(df.loc[(df['writing score']<passmark)]))

Number of students who passed the math exam: 865
Number of students who did not pass the math exam: 135
Number of students who passed the reading exam: 910
Number of students who did not pass the reading exam: 90
Number of students who passed the writing exam: 886
Number of students who did not pass the writing exam: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [34]:
df1 = df.copy()
df1['Math_PassStatus'] = df1['Math_PassStatus'].map({'P' : 1,'F' : 0})
df1['Reading_PassStatus'] = df1['Reading_PassStatus'].map({'P' : 1, 'F' : 0})
df1['Writing_PassStatus'] = df1['Writing_PassStatus'].map({'P' : 1,'F': 0})
df1['OverAll_PassStatus'] = df1[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']].apply(np.sum, axis=1)== 3
df1['OverAll_PassStatus'] = df1['OverAll_PassStatus'].map({True : 'P', False : 'F'})
df["OverAll_PassStatus"] = df1['OverAll_PassStatus']
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,test preparation course (binary),gender (binary),Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,-1,1,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,1,1,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,-1,1,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,-1,-1,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,-1,-1,P,P,P,P

In [35]:
print('Number of students who passed all exams:',len(df.loc[(df['OverAll_PassStatus'] == "P")]))

Number of students who passed all exams: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [36]:
def GetGrade(average_mark):
    grade =["0"] * 1000
    for i in range(len(average_mark)):
        if average_mark[i] < 50:
            grade[i] = "F"
        elif 50 <= average_mark[i] < 60:
            grade[i] = "E"
        elif 60 <= average_mark[i] < 70:
            grade[i] = "D"
        elif 70 <= average_mark[i] < 80:
            grade[i] = "C"
        elif 80 <= average_mark[i] < 90:
            grade[i] = "B"
        elif average_mark[i] >= 90:
            grade[i] = "A"
    return grade
            
df_renamed['Grade'] = df_renamed[['math score', 'reading score', 'writing score']].apply(np.mean, axis=1)
grades = df_renamed['Grade']
df_renamed['Grade'] = GetGrade(list(grades))
df_renamed

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,test preparation course (binary),Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,-1,C
1,female,group C,some college,standard,completed,group1,69,90,88,1,B
2,female,group B,master's degree,standard,none,group1,90,95,93,-1,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,-1,F
4,male,group C,some college,standard,none,group1,76,78,75,-1,C
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,1,A
996,male,group C,high school,free/reduced,none,group10,62,55,55,-1,E
997,female,group C,high school,free/reduced,completed,group10,59,71,65,1,D
998,female,group D,some college,standard,completed,group10,68,78,77,1,C
999,female,group D,some college,free/reduced,none,group10,77,86,86,-1,B